/Caxton/panormus/data/__pycache__/*.pyc
*.pyc
Caxton/strategy/scratch.py
Caxton/~$EM FX.docx
Caxton/script and emails/~$EM FX.docx
Caxton/script and emails/~$ily market recap.docx
Caxton/script and emails/~$summary of the covid 19 and market reaction.xlsx
Caxton/script and emails/~$summary of the covid 19 and market reaction.xlsx
